# JWT_SECRET=
# JWT_REFRESH_SECRET=

# REDIS_HOST=
# REDIS_PORT=
# REDIS_PASSWORD=

# MONGO_URI=
# REDIS_URL=
# NODE_ENV=

# PORT=
# HOST=

# LOGIN_LIMIT_MINUTES=
# LOGIN_MAX_ATTEMPTS=

JWT_SECRET=
JWT_REFRESH_SECRET=

JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

PENGGUNA_ACCESS_TOKEN=
PENGGUNA_REFRESH_TOKEN=

# Batas maksimal perangkat TRUSTED yang boleh dimiliki 1 kasir dalam waktu bersamaan
MAX_DEVICES_PER_USER=3
# Batas waktu perangkat PENDING kedaluwarsa sebelum disapu oleh Cron Job (dalam hari)
PENDING_DEVICE_EXPIRES_DAYS=1 

# DATABASE & CACHE
MONGO_URI=
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# SERVER CONFIG
NODE_ENV=
PORT=
HOST=

# KEAMANAN BRUTE FORCE
LOGIN_LIMIT_MINUTES=
LOGIN_MAX_ATTEMPTS=
